.App {
  text-align: center;
}



.App-header {
  background-color: #f4f5f7;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}



